@if $tema == dark {
	$fundo-primario: #333;
	$cor-texto-primario: #ccc;

} @else if $tema == light {
	$fundo-primario: white;
	$cor-texto-primario: #333;
}

@mixin type( $size: 16 ) {
	font-family: monospace;
	@if $size == 16 {
		font-size: 1em;

	} @else if $size == 18 {
		font-size: 1.25em;

	} @else if $size == 24 {
		font-size: 1.5em;
	}
}
