$cor-primaria: #e57;
$font-principal: sans-serif;
$gutter: 20px;

@mixin title {
	font-weight: bold;
	font-family: monospace;
}

@mixin text-large {
	font-size: 4em;
	line-height: 1;
}

@mixin title-large {
	@include title;
	@include text-large;
}

@mixin separador($color: black, $largura: 100px) {
	&::after {
		content: '';
		display: block;
		width: $largura;
		height: 4px;
		background: $color;
	}
}

@mixin box-shadow($shadow...) {
	box-shadow: $shadow;
}

@mixin mobile {
	@media (max-width: 600px) {
		@content;
	}
}

$tema: dark;
$fundo-primario: yellow;
$cor-texto-primario: purple;

@if $tema == dark {
	$fundo-primario: #333;
	$cor-texto-primario: #ccc;
} @else if $tema == light {
	$fundo-primario: white;
	$cor-texto-primario: #333;
}

@mixin type( $size: 16 ) {
	font-family: monospace;
	@if $size == 16 {
		font-size: 1em;

	} @else if $size == 18 {
		font-size: 1.25em;

	} @else if $size == 24 {
		font-size: 1.5em;
	}
}

body {
	background-color: $fundo-primario;
}

p {
	line-height: 1.4;
	max-width: 400px;
	color: $cor-texto-primario;
	@include type(24)
}

section {
	max-width: 600px;
	margin: 0 auto;
}

a {
	display: block;
	max-width: 120px;
	padding: 10px;
	border-radius: 4px;
	background: $cor-primaria;
	color: white;
	font-family: $font-principal;
	text: {
		decoration: none;
		transform: uppercase;
		align: center;
	}
}

h1 {
	color: $cor-primaria;
	margin-bottom: $gutter;
	@include title-large();
	@include separador($cor-primaria);
}

ul {
	text-align: center;
	li {
		display: inline-block;
		list-style: none;
		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			background-color: $cor-primaria;
			color: white;
			border-radius: 5px;
			.active &{
				background-color: purple;
			}
			&:hover {
				opacity: .5;
			}
			& .active{
				font-weight: bold;
			}
		}
	}
}
